@font-face {
  font-family: TTNormsPro;
  font-weight: 600;
  src: url(TTNormsPro-Bold.otf);
}
@font-face {
  font-family: TTNormsPro;
  font-weight: normal;
  src: url(TTNormsPro-Regular.otf);
}
@font-face {
  font-family: TTNormsPro;
  font-weight: 500;
  src: url(TTNormsPro-Medium.otf);
}
